.homePage{
    background-color: #1abc9c;
    height: 85vh;
    text-align: center;
}

.homeImg{
    width: 250px;
    height: 250px;
}

.whiteLine{
    height: 4px;
    background-color: white;
    width: 80px;
}

.star{
    width: 200px;
}